* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Aleo;
  src: url(fonts/Aleo-VariableFont_wght.ttf);
}
@font-face {
  font-family: Josefin Sans;
  src: url(fonts/JosefinSans-VariableFont_wght.ttf);
}

/* first section */
.mountain-background__img {
  background-image: url(img/mountain_background.png);
}

h1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 54.167% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  padding-top: 265px;
}
.safe-travel__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 118.182% */
  letter-spacing: 6.82px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.input-button__position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 503px;
  height: 63px;
  flex-shrink: 0;
  fill: #fff;
  padding-left: 40px;
  &::placeholder {
    color: #999;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    letter-spacing: 2.8px;
  }
}
.search-button__style {
  width: 153px;
  height: 63px;
  flex-shrink: 0;
  background-color: #5474fd;
  border: 2px;
  border-color: #fff;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  &:hover {
    background-color: #04aa6d;
    color: white;
  }
}
.fa {
  padding-left: 7px;
}
.search-icon__style {
  width: 22px;
  height: 24px;
  flex-shrink: 0;
  color: #fff;
}
.scrolldown__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}
.scrolldown-text__style {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2.8px;
  padding-top: 110px;
}
.background-color__navbar-style {
  background-color: #5474fd;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;
}
.brohamaon-nav_style {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.navigation__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 400px;
}
.navigation-link {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  color: #fff;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background-color: white;
    color: #5474fd;
  }
}

/* second section */
.castle-background__img {
  background-image: url(img/castle_background.png);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.description-choosing__style {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  padding-right: 100px;
}
.choose-us__title-style {
  color: #fff;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
  padding-bottom: 50px;
}
.choose-us__text-style {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.6px;
}
.choose-us__text-styl--padding-top-bottom {
  padding-top: 30px;
  padding-bottom: 45px;
}
.explore-places-button-style {
  background-color: #5474fd;
  width: 228px;
  height: 63px;
  flex-shrink: 0;
  color: #fff;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  &:hover {
    background-color: #04aa6d;
    color: white;
  }
}

.houseonwater-mountains-img__style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 110px;
  padding-left: 15px;
}
.mountains-pic__postition {
  padding-left: 120px;
  padding-top: 10px;
}

/* third section */
.background-color__icon-style {
  background-color: #333;
  padding-right: 450px;
}
.lines__position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.search-select-book-icon__style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}
.select-places-icon__padding {
  padding-left: 130px;
  padding-right: 250px;
}

/* fourth section */
.apartment-background__img {
  background-image: url(img/apartment_background.png);
  padding-top: 230px;
  padding-left: 330px;
  padding-bottom: 100px;
}
.container-apartment__style {
  background-image: url(img/Rectangle.png);
  width: 543px;
  height: 374px;
}
.spain-title__style {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 25px;
}
.spain-subtitle__style {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-left: 30px;
}
.spain-text__style {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 50px;
  padding-left: 30px;
}
.spain-button__style {
  background-color: #5474fd;
  width: 228px;
  height: 63px;
  flex-shrink: 0;
  color: #fff;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 50px;
  &:hover {
    background-color: #04aa6d;
    color: white;
  }
}

.sea-background__img {
  background-image: url(img/sea_background.png);
  padding-top: 230px;
  padding-left: 900px;
  padding-bottom: 100px;
}

/* fifth secton */
.guy-background__img {
  background-image: url(img/guy_background.png);
  padding-left: 160px;
  padding-right: 300px;
  padding-bottom: 200px;
}
.our-tourists__style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
  padding-top: 130px;
  padding-bottom: 90px;
}
.our-tourists__items-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sams-experience__rectangle {
  background-image: url(img/rectangle-sams-experience.png);
}
.sams-experience__title-style {
  color: #fefefe;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  text-transform: uppercase;
  padding-left: 60px;
  padding-top: 50px;
}
.fa-quote-left {
  color: #5474fd;
  font-family: FontAwesome;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 72.222% */
}
.sams-experience__text-style {
  color: #e8e8e8;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 35px;
  padding-right: 25px;
}

/* footer */
.background-color__item-list-style {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 400px;
}
.bhromaon-title-footer__style {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 108.333% */
  letter-spacing: 3.36px;
  text-transform: uppercase;
  padding-top: 120px;
  padding-bottom: 10px;
}
.safe-ravel__text-style {
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 1.6px;
  padding-bottom: 15px;
}
.footer-icon__style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.footer-icon__position {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 600px) {
  .background-color__list-style,
  .castle-background__img,
  .background-color__icon-style,
  .apartment-background__img,
  .sea-background__img,
  .our-tourists__items-position,
  .lines__position,
  .search-select-book-icon__style,
  .input-button__position {
    display: flex;
    flex-direction: column;
    float: left;
  }
  h1 {
    text-align: center;
  }
}
